
/*Definindo as cores que vão ser roteadas.*/
:root {
  --cor-0: rgb(255, 255, 255);
  --cor-1: #ebebeb;
  --cor-2: #cececf;
  --cor-3: #a7a1ab;
  --cor-4: #867a8f;
  --cor-5: #6a5f77;
  --cor-6: #584760;
  --cor-7: #4d3f57;
  --cor-8: #342a3c;
  --cor-9: #30283a;
  --cor-10: #27202e;
  --cor-11: #15111a;
  --cor-12: #060606;
  --cor-p1: #ac62cb;
  --cor-p2: #9448b5;
  --cor-p3: #75268b;
  --cor-p4: #571972;
  --cor-p5: #48115c;
  --cor-p6: #31093e;
  --cor-p7: #260531;
}

/*Definindo classes com cada cor do root*/
.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-4 {
  color: var(--cor-4);
}
.cor-5 {
  color: var(--cor-5);
}
.cor-6 {
  color: var(--cor-6);
}
.cor-7 {
  color: var(--cor-7);
}
.cor-8 {
  color: var(--cor-8);
}
.cor-9 {
  color: var(--cor-9);
}
.cor-10 {
  color: var(--cor-10);
}
.cor-11 {
  color: var(--cor-11);
}
.cor-12 {
  color: var(--cor-12);
}
.cor-p1 {
  color: var(--cor-p1);
}
.cor-p2 {
  color: var(--cor-p2);
}
.cor-p3 {
  color: var(--cor-p3);
}
.cor-p4 {
  color: var(--cor-p4);
}
.cor-p5 {
  color: var(--cor-p5);
}
.cor-p6 {
  color: var(--cor-p6);
}
.cor-p7 {
  color: var(--cor-p7);
}